/* Estilização geral do formulário de ordem de serviço */
.service-order-form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Configurações de grid para organizar os campos do formulário */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  grid-gap: 20px;
}

/* Estilização para os campos do formulário */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.field label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Ajustes para os inputs e textareas */
input[pInputText],
textarea[pInputTextarea] {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/* Ajustes para os botões e seleções */
.p-button {
  margin-top: 10px; /* Espaço acima do botão */
}

.btnUnderWarranty {
  margin-right: 10px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* Coluna única para telas menores */
  }
}

/* Estilização específica para o cartão do cliente selecionado */
.selected-customer-card .p-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-customer-card .p-card-footer {
  text-align: right;
}

/* Estilização da Seção de Garantia */
.warranty-section {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.warranty-options {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espaço antes da seleção de ordem de serviço anterior */
}

.previous-order-field {
  margin-top: 10px;
}

.radio {
  padding: 5px;
}