<app-toolbar-navigation></app-toolbar-navigation>

<p-toast></p-toast>

<p-card styleClass="shadow-3 m-5 text-indigo-800">
    <div class="service-order-form">
        <h3>Ordem de Serviço</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="grid">
                <div>
                    <label>ID do Cliente</label>
                    <p-autoComplete class="field" [(ngModel)]="selectedCustomer" [suggestions]="filteredCustomers" 
                        (completeMethod)="onSearch($event)" field="name" 
                        placeholder="Digite para buscar um cliente..." [dropdown]="true" 
                        (onSelect)="onOptionSelect($event.value)" [forceSelection]="true" 
                        name="selectedCustomer"></p-autoComplete>                
                </div>

                <p-card *ngIf="selectedCustomer" styleClass="selected-customer-card">
                    <ng-template pTemplate="header">
                        Cliente Selecionado
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="customer-info">
                            {{ selectedCustomer.name }} (ID: {{ selectedCustomer.id }})
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <button type="button" pButton icon="pi pi-times" label="Remover" 
                            (click)="removeSelectedCustomer()" class="p-button-rounded p-button-danger p-button-outlined"></button>
                    </ng-template>
                </p-card>

                <div class="field">
                    <label for="equipment">Equipamento</label>
                    <input type="text" id="equipment" pInputText [(ngModel)]="serviceOrder.equipment" name="equipment"/>
                </div>

                <div class="field">
                    <label for="accessories">Acessórios</label>
                    <input type="text" id="accessories" pInputText [(ngModel)]="serviceOrder.accessories" name="accessories"/>
                </div>

                <div class="field">
                    <label for="complaint">Queixa do Cliente</label>
                    <textarea id="complaint" pInputTextarea [(ngModel)]="serviceOrder.complaint" name="complaint"></textarea>
                </div>

                <div class="field">
                    <label for="description">Descrição</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="serviceOrder.description" name="description"></textarea>
                </div>

                <div class="field">
                    <label for="condition">Condição</label>
                    <textarea id="condition" pInputTextarea [(ngModel)]="serviceOrder.condition" name="condition"></textarea>
                </div>

                <div class="field">
                    <label for="serialNumber">Número de Série</label>
                    <input type="text" id="serialNumber" pInputText [(ngModel)]="serviceOrder.serialNumber" name="serialNumber"/>
                </div>

                <div class="field">
                    <label for="status">Status</label>
                    <input type="text" id="status" pInputText [(ngModel)]="serviceOrder.status" name="status"/>
                </div>

                <div class="field">
                    <label for="brand">Marca</label>
                    <input type="text" id="brand" pInputText [(ngModel)]="serviceOrder.brand" name="brand"/>
                </div>

                <div class="field">
                    <label for="model">Modelo</label>
                    <input type="text" id="model" pInputText [(ngModel)]="serviceOrder.model" name="model"/>
                </div>

                <div class="warranty-section">
                    <div class="field">
                        <label>Garantia</label>
                        <p-radioButton class="radio" name="underWarranty" [value]="true" 
                            label="Sim" [(ngModel)]="serviceOrder.underWarranty"></p-radioButton>
                        <p-radioButton class="radio" name="underWarranty" [value]="false" 
                            label="Não" [(ngModel)]="serviceOrder.underWarranty" binary="true"></p-radioButton>
                    </div>
                    <div *ngIf="serviceOrder.underWarranty" class="field previous-order-field">
                        <p-autoComplete [(ngModel)]="selectedOrder" [suggestions]="previousOrders" 
                            (completeMethod)="fetchServiceOrdersByCustomerId(selectedCustomer?.id)" field="label" 
                            placeholder="Selecione ou digite a ordem de serviço anterior" [dropdown]="true" 
                            name="selectedOrder"></p-autoComplete>
                    </div>
                </div>

                <div class="field">
                    <p-button label="Enviar" type="submit"></p-button>
                </div>
            </div>
        </form>
    </div>
</p-card>
