<p-card *ngIf="selectedCustomer" styleClass="selected-customer-card">
    <ng-template pTemplate="header">
      Cliente Selecionado
    </ng-template>
    <ng-template pTemplate="content">
      <div class="customer-info">
        <label>Nome: </label>{{ selectedCustomer.name }} <br>
        <label>CPF: </label>{{ selectedCustomer.cpf }} <br>
        <label>Endereço: </label>{{ selectedCustomer.address }} <br>
        <label>Telefone: </label>{{ selectedCustomer.phone }} <br>
        <label>Data de Nascimento: </label>{{ selectedCustomer.dateBirth }} <br>
        (ID: {{ selectedCustomer.id }})
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button type="button" pButton icon="pi pi-times" label="Remover" 
          (click)="removeSelectedCustomer()" class="p-button-rounded p-button-danger p-button-outlined"></button>
      <button type="button" pButton label="Atualizar" 
        class="p-button-rounded p-button-info p-button-outlined"></button>    
    </ng-template>
  </p-card>
  