<p-menubar class="custom-menubar">
  <ul>
    <li>
      <a [routerLink]="'/service-order'" routerLinkActive="exact_route">
        <i class="pi pi-file-edit"></i>
        <span>Ordem de serviço</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/customers'" routerLinkActive="exact_route">
        <i class="pi pi-users"></i>
        <span>Clientes</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/dashboard'" routerLinkActive="exact_route">
        <i class="pi pi-chart-line"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/products'" routerLinkActive="exact_route">
        <i class="pi pi-cart-plus"></i>
        <span>Produtos</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/categories'" routerLinkActive="exact_route">
        <i class="pi pi-ticket"></i>
        <span>Categorias</span>
      </a>
    </li>
    <li>
      <a (click)="handleSaleProduct()">
        <i class="pi pi-credit-card"></i>
        <span>Efetuar Venda</span>
      </a>
    </li>
    <li>
      <a (click)="handleLogout()">
        <i class="pi pi-sign-out"></i>
        <span>Sair</span>
      </a>
    </li>
  </ul>
</p-menubar>
