<app-toolbar-navigation> </app-toolbar-navigation>
<p-toast></p-toast>

<p-card
styleClass="shadow-3 m-5 text-indigo-800"
>
<div class="navigator-container">
  <p-card class="navigator-card" (click)="navigate('/categories')">
    <img src="../../../assets/icons/iconcategories.svg" alt="" />
    <div class="card-title">Categorias</div>
  </p-card>

  <p-card class="navigator-card " (click)="navigate('/customers')">
    <img src="../../../assets/icons/iconproduct.svg" alt="" />
    <div class="card-title">Produtos</div>
  </p-card>

  <p-card class="navigator-card" (click)="navigate('/service-orders')">
    <img src="../../../assets/icons/iconso.svg" alt="" />
    <div class="card-title">Ordem de serviço</div>
  </p-card>
</div>
</p-card>
